.changepassword--form__component input[type="password"] {
  /* background: red; */
  border-radius: 15px;
}

.changepassword--form__component label {
  width: 10vw;
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.changepassword--form__component .form-group {
  margin: 1rem 0;
}
